<!DOCTYPE html>
<html ng-app="gemStore">

	<head>
		<title>Flatlander's Gem Store</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="custom.css"/>
	</head>

	<body class="container" ng-controller="StoreController as store">

		<!--  App Title  -->
		<hgroup id="app-title-wr" class="text-center">
			<h1 id="app-title">Flatlander's Gem Store</h1>
			<h2 id="app-subtitle">Code School - Shaping up with Angular.js </h2>
		</hgroup>

		<!--  Products Container  -->
		<div class="list-group">

			<!--  Product Container  -->
			<div class="list-group-item card" ng-repeat="product in store.products | orderBy:'-price'">
				
				<h3>
					{{product.name}}
					<em class="pull-right">{{product.price | currency}}</em>
				</h3>

				<!-- Image Gallery  -->
				<section class="gallery" ng-show="product.images && product.images.length" ng-controller="GalleryController as gallery">

					<img class="img center-block" ng-src="{{product.images[gallery.current]}}" />

					<div class="thumbails-wr">	
						<ul class="clearfix thumbails">
							<li ng-class="{active:gallery.isSet($index)}" class="pull-left" ng-repeat="image in product.images">
								<a ng-click="gallery.setCurrent($index)" href class="block-link">
									<img class="small-image" ng-src="{{image}}" />
								</a>
							</li>
						</ul>	
					</div>

				</section>

				<section class="tab" ng-controller="TabController as tab">

					<ul class="nav nav-simple">
						<li ng-class="{active:tab.isSet(0)}">
							<a ng-click="tab.setCurrent(0)" href><span>Description</span></a>
						</li>
						<li ng-class="{active:tab.isSet(1)}">
							<a ng-click="tab.setCurrent(1)" href><span>Specs</span></a>
						</li>
						<li ng-class="{active:tab.isSet(2)}">
							<a ng-click="tab.setCurrent(2)" href><span>Reviews</span></a>
						</li>
						<li ng-class="{active:tab.isSet(2)}" class="pull-right">
							<button ng-show="product.canPurchase">Add to Cart</button>
						</li>
					</ul>

					<div ng-show="tab.isSet(0)">
						<h4 class="hidden">Description</h4>
						<p class="text-justify">{{product.description}}</p>
					</div>

					<div ng-show="tab.isSet(1)">
						<h4 class="hidden">Specs</h4>
						<table class="table table-condensed">
							<tr ng-repeat="(key, value) in product.specs">
								<td class="capitalize">{{key}}</td>
								<td>{{value}}</td>
							</tr>
						</table>
					</div>

					<div ng-show="tab.isSet(2)">
						<h4 class="hidden">Reviews</h4>
						
						<blockquote></blockquote>
					</div>

				</section>

			</div>

		</div>

		<!--  Scripts  -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>

	</body>

</html>